<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kyle.thirdpushmodule">

    <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />

    <application
        android:allowBackup="true"
        android:label="@string/jpush_app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${HUAWEI_APPID}"/>
        <meta-data
            android:name="com.huawei.hms.client.cpid"
            android:value="${HUAWEI_CPID}"/>

        <!--回调类，消息回调、别名/标签操作回调等，都在这个类-->
        <receiver
            android:name=".PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--厂商通道消息不会走任何回调，需要通过点击打开的页面才能获取到消息内容-->
        <activity
            android:name=".target.huawei.HuaweiLoadActivity"
            android:exported="true"
            android:theme="@style/LoadTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <!-- 需要后台定义 -->
                <action android:name="target.oppo.OppoLoadActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.jpush.android.service.JNotifyActivity"
            android:exported="true"
            android:process=":pushcore"
            android:taskAffinity="jpush.custom"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace">

            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- since 3.3.0 Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--User defined.  For test only 继承自cn.jpush.android.service.JCommonService-->
        <service
            android:name=".PushService"
            android:exported="true"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

    </application>
</manifest>
